# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Environment variables
.env

# Other
*.tmp
*.swp